/* .ui.thin.left.sidebar {
    width: 228px;
}

.ui.segment, .ui.segments .segment {
    height: 100vh;
    border: none;
    border-radius: 0;
} */

body {
    overflow-x: hidden;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 9px;
    transition: 0.7s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 17px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover {
    color: #fff;
    transition: 0.4s;
}

.slide a {
    color: #000;
    font-size: 30px;
}
#content {
    transition: margin-left 0.7s;
    overflow: hidden;
    margin-left: 250px;
}

#menu {
    width: 250px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 15px 9px 15px;   
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.nav-right img {
    border-radius: 30px;
    margin-right: 6px;
}

.body {
    margin-left: 13px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    margin-top: 10px;
}

.nav i {
    margin-right: 10px;
}

.ui.card:first-child {
    margin-top: 0;
    margin-left: 14px;
    margin-bottom: 3px;
}

.ui.form {
    position: relative;
    width: 75%;
    border-radius: 5px;
}

.ui.card {
    width: 32%;
}
